{% extends "base.html" %}
{% load static %}

{% block head_extra %} 
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock head_extra %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="form-signin text-center my-5">
    <form method="post">{% csrf_token %}

        <img class="mb-4" src="{% static 'img/dbd_icon.png' %}" alt="Dbd icon" width="72" height="72">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        {% for field in form  %}
            <div class="form-floating">
                {{ field }}
                <label for="{{ field.id_for_label }}">{{ field.label }}</lable>
            </div>
        {% endfor %}

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">© Seblis 2022</p>
        {% if form.non_field_errors %}
            <ul class='form-errors'>
                {% for error in form.non_field_errors %}
                    <li class="text-danger">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </form>

</div>
{% endblock content %}